@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
  font-size: 15px;
}

body {
  min-height: 100vh;
  font-family: "Outfit", sans-serif;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  background-color: var(--Light-gray);
  padding: 1rem;
}

.img {
  border-radius: 15px;
  width: 100%;
  margin-bottom: 1rem;
}

.companion {
  background-color: var(--White);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.15);
  max-width: 300px;
}

.companion h1 {
  margin-bottom: 1rem;
  color: var(--Dark-blue);
  text-align: center;
  margin-inline: 1rem;
  font-size: 1.4rem;
}

.companion p {
  color: var(--Grayish-blue);
  margin-inline: 1rem;
  text-align: center;
  margin-bottom: 1rem;
}

.attribution {
  font-size: 0.75rem;
  text-align: center;
  margin-top: 1.5rem;
  color: var(--Grayish-blue);
}

.attribution a {
  color: var(--Dark-blue);
  text-decoration: none;
}
